<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grids fgd1">
            <a href=""><img src="/images/logo2.png" alt=" " /><h3>FASHION CLUB </h3></a>
            <ul>
                <li>1234k Avenue, 4th block,</li>
                <li>New York City.</li>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd2">
            <h4>Bilgi</h4>
            <ul>
                <li> <a href="/hakkimizda">Hakkımızda </a></li>
                <li><a href="/iletisim">İletişim</a></li>
                <li><a href="/ikonlar">Web İkonları</a></li>
                <li><a href="/tipografi">Tipografi</a></li>
                
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd3">
            <h4>Popüler Kategoriler</h4>
            <ul>
                <li><a href="/ayakkabi/24">Kadın Ayakkabı</a></li>
                <li><a href="/ayakkabi/52">Erkek Ayakkabı</a></li>
                <li><a href="/canta/25">Kadın Çanta</a></li>
                <li><a href="/canta/53">Erkek Çanta</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grids fgd4">
            <h4>Müşteri</h4>
            <ul>
                <li><a href="/hesabim">Hesabım</a></li>
                <li><a href="/uyelik/giris">Giriş Yap</a></li>
                <li><a href="/uyelik/yeni-uye">Üye Ol</a></li>
                <li><a href="/siparislerim">Siparişlerim </a></li>

            </ul>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right">© 2016 Fashion Club . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
    </div>
</div>