@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_LayoutPage.cshtml";

}

<div class="col-md-12" style="font-size:20px;margin-left:70px;margin-bottom:15px;margin-top:15px;">
    <div class="row">
        <div class="TextHeader">Sepetim</div>
    </div>
</div>

<script>
    function StokArttirAzalt(Id, stok) {
        $.ajax({

            type: "POST",
            url: "/Basket/JSONStokAyari",
            data: { ID: '' + Id + '', Durum: '' + stok + '' },
            dataType: "json",
            success: function (responseS) {
                $("#Loader").show();
                $("#BasketDiv").load("/Basket/GetPartialBasket");
                $("#BasketControl").load("/PartialView/BasketQuantityControl");
                $("#Loader").fadeOut();
            },

            failure: function (responseS) {

            },

            error: function (responseS) {

            }

        });
    };
</script>

<script>
    $(document).ready(function () {

        $("#BasketDiv").load("/Basket/GetPartialBasket");
        $("#BasketControl").load("/PartialView/BasketQuantityControl");
        $("#Loader").fadeOut();
    });

</script>



<div class="col-md-12 ProductDiv">
    <div class="row" id="BasketDiv">

    </div>

    <div id="Loader" style="position:absolute;text-align:center;width:100%;top:15px;
         background-color:rgb(0 0 0 / 0.46);left:0;height:100%; padding-top:35px;">
        <img src="~/images/Bekleyiniz.gif" width="100">
        <span style="display:block;text-align:center;padding:10px;">Lütfen Bekleyiniz..</span>
    </div>


</div>










