
<div class="col-md-12 navigation-agileits">
    <nav class="navbar navbar-default">
        <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav ">
                @foreach (var item in Model)
                {
                    <li class="maincategory" style="padding-right:20px">

                        <a href="/@UIWeb.YaziTemizle.Temizle(item.Name)/@item.Id" class="category" style="font-size:20px;font-weight:bold;"><span> @item.Name </span> </a>
                    </li>
                }
            </ul>
            <div class="text" style="padding-top:12px"> 
                <a href="/Kampanyalar" style="font-weight:700;font-size:20px;color:#000000;padding-left:20px">Kampanyalar</a>   
            </div>
            <div class="clearfix"></div>
        </div>
         </nav>
    </div>

        


