
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/_LayoutPage.cshtml";
}

<div class="sub-banner">
</div>
<div class="about">
    <div class="container">
        <h3>Hakkımızda</h3>
        <div class="about-info">
            <div class="col-md-8 about-grids">
                <h4>En Son Koleksiyonumuz</h4>
                <p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat officia. </p>
                <div class="about-w3ls-row">
                    <script type="text/javascript">
								 $(window).load(function() {
									$("#flexiselDemo3").flexisel({
										visibleItems:2,
										animationSpeed: 1000,
										autoPlay: false,
										autoPlaySpeed: 3000,
										pauseOnHover: true,
										enableResponsiveBreakpoints: true,
										responsiveBreakpoints: {
											portrait: {
												changePoint:480,
												visibleItems:2
											},
											landscape: {
												changePoint:640,
												visibleItems:2
											},
											tablet: {
												changePoint:768,
												visibleItems:2
											}
										}
									});

								});
                    </script>
                    <script type="text/javascript" src="/Scripts/jquery.flexisel.js"></script>
                    <ul id="flexiselDemo3">
                        <li>
                            <img src="/images/a1.jpg" class="img-responsive" alt="" />
                        </li>
                        <li>
                            <img src="/images/a2.jpg" class="img-responsive" alt="" />
                        </li>
                        <li>
                            <img src="/images/a3.jpg" class="img-responsive" alt="" />
                        </li>
                        <li>
                            <img src="/images/a4.jpg" class="img-responsive" alt="" />
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 about-grids">
                <h4>Avantajlarımız</h4>
                <div class="pince">
                    <div class="pince-left">
                        <h5>01</h5>
                    </div>
                    <div class="pince-right">
                         <h5>Güvenli Alışveriş</h5>
                         <p>Sitemizdeki ödeme sistemi sayesinde güvenli alışveriş yapabilirsiniz.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>02</h5>
                    </div>
                    <div class="pince-right">
                        <h5>7/24 Ücretsiz Online Destek</h5>
                        <p> Online destek sistemimiz,7 gün 24 saat boyunca sitemizle ilgili sorusu ya da talebi olan kişilere yardımcı olmaktadır. </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>03</h5>
                    </div>
                    <div class="pince-right">
                        <h5>Ücretsiz Kargo</h5>
                        <p>200 tl ve üzeri alışverişlerinizde kargo ücretsizdir.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="pince">
                    <div class="pince-left">
                        <h5>04</h5>
                    </div>
                    <div class="pince-right">
                        <h5>İade Veya Değişim </h5>
                        <p>Sitemizden aldığınız ürünleri teslimat tarihinden itibaren en geç 14 gün içerisinde iade edebilir ya da değiştirebilirsiniz.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- about-bottom -->
<div class="about-bottom">
    <div class="container">
        <h4>Takı&Mücevherlerde</h4>
        <h3>%65'e <span>Varan</span> İndirim</h3>
        <a href="taki-mucevher/201" style="margin-top:15px">İncele</a>
    </div>
</div>
<!-- //about-bottom -->
<!--team-->
<div class="team" id="team">
    <div class="container">
        <h3> Çalışma Ekibimiz</h3>
        <div class="team-grids">
            <div class="col-md-3 team-grid">
                <div class="team-img">
                    <img src="/images/t1.jpg" class="img-responsive" alt=" " />
                    <figcaption class="overlay">
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </figcaption>
                </div>
                <h4>John Filmr Doe</h4>
                <h5>Genel Müdür</h5>
            </div>
            <div class="col-md-3 team-grid">
                <div class="team-img">
                    <img src="/images/t3.jpg" class="img-responsive" alt=" " />
                    <figcaption class="overlay">
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </figcaption>
                </div>
                <h4>Jaye Smith</h4>
                <h5>Yazılım Geliştirme Takım Lideri </h5>
            </div>
            <div class="col-md-3 team-grid">
                <div class="team-img">
                    <img src="/images/t2.jpg" class="img-responsive" alt=" " />
                    <figcaption class="overlay">
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </figcaption>
                </div>
                <h4>Mike Arney</h4>
                <h5>Moda Tasarımcısı</h5>
            </div>
            <div class="col-md-3 team-grid">
                <div class="team-img">
                    <img src="/images/t4.jpg" class="img-responsive" alt=" " />
                    <figcaption class="overlay">
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </figcaption>
                </div>
                <h4>Michele Lampa</h4>
                <h5>Moda Tasarımcısı</h5>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--team-->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <div class="col-md-6 w3agile_newsletter_left">
            <h2>E-Bülten</h2>
            <p>Moda haberlerini takip etmek ve indirim fırsatlarından haberdar olmak için e-bültenimize üye olun.</p>
        </div>
        <div class="col-md-6 w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="E-posta adresinizi girin." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-posta adresinizi girin.';}" required="">
                <input type="submit" value="Üye Ol" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->
