
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_LayoutPage.cshtml";
}



<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
            <a href="/giyim/8">
                <div class="bb-left-agileits-w3layouts-inner">
                    <h4>Kadın Giyim Ürünlerinde <span>%55'e Varan</span> </h4>
                    <h3>İndirim </h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
            <a href="/ayakkabi/24">
                <div class="bb-middle-top">
                    <h4>Kadın Ayakkabılarda<span>%55'e Varan</span></h4>
                    <h3>İndirim </h3>
                </div>
            </a>
            <a href="/taki-mucevher/201">
                <div class="bb-middle-bottom">
                    <h4>Takı&Mücevherlerde<span> %65'e Varan </span></h4>
                    <h3>İndirim</h3>
                </div>
            </a>
        </div>
        <div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
            <a href="/saat/72">
                <div class="bb-right-top">
                    <h4> Erkek Saatlerde <span> %40'a Varan </span></h4>
                    <h3> İndirim </h3>
                </div>
            </a>
            <a href="/canta/25">
                <div class="bb-right-bottom">
                    <h4> Çantalarda <span> %60'a Varan </span>  </h4>
                    <h3> İndirim </h3>
                </div>
            </a>
        </div>
        <div class="sales">
            <div class="container">
                <div class="col-md-4 left-bottom-grids">
                    <a href="/giyim/51">
                        <div class="dresses_img_hover bb-left-bottom">
                            <img src="images/offer2.jpg" alt=" " class="img-responsive" />
                            <div class="dresses_img_hover_pos">
                                <h4>Erkek Giyim Ürünlerinde<span>%50</span><i>'ye Varan</i><span> İndirim</span></h4>
                            </div>
                        </div>
                    </a>
                </div>
           
                <div class="col-md-4 bb-grids bb-middle-agileits-w3layouts" style="margin-top:40px;margin-left:77px">
                <a href="/giyim/83">
                    <div class="children">
                        <img src="images/offer3.jpg" alt=" " class="img-responsive" />
                        <div class="dresses_img_hover_pos">
                            <h4>Çocuk Ürünlerinde<span>%45</span><i>'e Varan</i><span>İndirim</span></h4>
                        </div>
                    </div>
                </a>
                </div>
           </div>
        </div>
        </div>
<div class="clearfix"></div>
    </div>
